
.container {
  display: flex;
  flex-direction: column;
}

.header {
  align-items: center;
  text-align: center;
  width: 100%;
  
}

.header h1  {
  background-color: #263B46;
  color: #21DAFF;
  box-shadow: 5px 5px 5px 5px #888888;
  text-shadow: 3px 3px #558abb;
}

.header h1:hover {
  background-color: rgb(240, 206, 16);
  color: black;
  cursor: pointer;
}

.header h1::shadow {
  box-shadow: #263B46;
}
#image {
  cursor: pointer;

}


.cadre {
  border: 1.5px solid #21DAFF;
  width: var(--width);
  height: var(--height);
  top: var(--top);
  left: var(--left);
  position: absolute;
  z-index: 10;
}

.contains  {
  position: relative;
}

.data {
  margin-right: 0;
  margin-left: 50px;
}


.card-body {
  overflow-y: scroll;
  height: 400px;
  margin-left: 30px;
  scroll-behavior: smooth;
 scrollbar-color:#21DAFF #263B46;
}

#data {
  background-color: #263B46;
}

#container {
  box-shadow: 10px 10px 8px 10px #888888;
}

